
.wrapper
  .default-container
    =render 'top'

    .body
      =render 'search_form'

      .results
        .results__keyword
          検索ワード  "#{params[:q][:name_or_ingredients_cont]}"
        .results__total-count
          検索結果     #{@products.total_count}件
        - if @products.empty?
          .results__no-match
            該当する薬品はありません。
            .results__no-match__link
              = link_to "ホームに戻る", root_path
        - else
          .results__table
            %table.results__table__container
              %tr.results__table__container-title
                %th.results__table__container-title__name 製品名
                %th.results__table__container-title__price 薬価
                %th.results__table__container-title__standard 規格
                -# %th 薬価計算（後で実装する）

              - @products.each do |product|
                %tr.results__table-row
                  %td.results__table-row__name
                    - if product.generic == "後発品"
                      %span.generic 後発
                    = product.name
                  %td.results__table-row__price
                    = "#{(product.price).to_f}"
                  %td.results__table-row__standard
                    = product.standard
                  -# %td 3 錠 32円(税込み)（後で実装する）

      = paginate(@products)
    =render 'footer'

