
.default_container
  =render 'top'

  .body
    =render 'search_form'

    .results
      .results_keyword
        検索ワード  "#{params[:q][:name_cont]}"
      .results_total-count
        検索結果     #{@products.total_count}件
      - @products.each do |product|
        .results__result
          .results__result-name
            = product.name
          .results__result-price
            = "#{(product.price).to_f} 円"
          .results__result-generic
            = product.generic == 1 ? "後発品" : "先発品"
      = paginate(@products)

