
.wrapper
  .default-container
    =render 'top'

    .body
      - breadcrumb :search
      = render 'breadcrumb'
      =render 'search_form'

      .results
        .results__keyword
          検索ワード ： #{params[:q][:standard_name_cont_all][0]} 
          -if params[:q][:standard_name_cont_all][1].present? 
            、#{params[:q][:standard_name_cont_all][1]}、#{params[:q][:standard_name_cont_all][2]}
        .results__total-count
          -# 検索結果     #{@products.total_count}件 pagenation調整できたら有効にする
          検索結果     #{@products.length}件

        - if @products.empty?
          .results__no-match
            該当する薬品はありません。
            .results__no-match__link
              = link_to "ホームに戻る", root_path
        - else
          .results__table
            %table.results__table__container
              %tr.results__table__container-title
                %th.results__table__container-title__name 製品名
                %th.results__table__container-title__price 薬価(2020.4.1~)
                %th.results__table__container-title__standard 規格
                %th.results__table__container-title__calc 薬価計算

              - @products.each.with_index(1) do |product, index|
                %tr.results__table-row
                  %td.results__table-row__name
                    - if product.generic == 1
                      %span.generic 後発
                    - elsif product.generic == 9
                      %span.AGgeneric AG
                    = product.standard_name
                    %span.samedrug_search
                      = link_to "同種薬検索", samedrugsearch_path(standard_code: product.standard_code, standard_name: product.standard_name),class:"samedrug_search__link"
                  %td{class:"results__table-row__price_#{++index}"}
                    -# = (product.price).to_s(:delimited)
                    = product.price


                  %td.results__table-row__standard
                    = product.unit_name
                  %td{class:"results__table-row__calc_#{++index}"}
                    %input{id:"calc_input_#{++index}",value: "1",maxlength:20, size:6}
                    = product.unit_name
                    %div{class:"calc_result_#{++index}"}
                      = (product.price * 1.1 - 0.5).ceil.to_s(:delimited)
                    円(税込み)
      -# = paginate(@products)
      = render 'advertisement'
    =render 'footer'
= javascript_pack_tag 'calculation'
